In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import sklearn

# Test Wrangle

In [2]:
import wrangle

from wrangle import wrangle_zillow

from wrangle import split

In [3]:
df = wrangle_zillow()

In [4]:
df.head()

,square_feet,bedrooms,bathrooms,taxes,yearbuilt,county,lot_size,tax_value
parcelid,,,,,,,,
12177905,2376.0,4.0,3.0,1777.51,1970.0,3101.0,13038.0,145143.0
10887214,1312.0,3.0,3.0,1533.89,1964.0,3101.0,278581.0,119407.0
12095076,2962.0,4.0,3.0,9516.26,1950.0,3101.0,63000.0,773303.0
12069064,738.0,2.0,1.0,2366.08,1922.0,3101.0,4214.0,218552.0
12790562,3039.0,4.0,3.0,3104.19,1970.0,3101.0,20028.0,220583.0

In [5]:
df.shape

(57057, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57057 entries, 12177905 to 13083743
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   square_feet  57057 non-null  float64
 1   bedrooms     57057 non-null  float64
 2   bathrooms    57057 non-null  float64
 3   taxes        57057 non-null  float64
 4   yearbuilt    57057 non-null  float64
 5   county       57057 non-null  float64
 6   lot_size     57057 non-null  float64
 7   tax_value    57057 non-null  float64
dtypes: float64(8)
memory usage: 3.9 MB

In [7]:
train, validate, test = split(df)

In [8]:
train.shape

(31951, 8)

In [9]:
validate.shape

(13694, 8)

In [10]:
test.shape

(11412, 8)

# Test scaling

In [12]:

from wrangle import scale_data

In [13]:
from wrangle import seperate_y

In [14]:
X_train, y_train, X_validate, y_validate, X_test, y_test = seperate_y(train, validate, test)

In [15]:
X_train.head()

,square_feet,bedrooms,bathrooms,taxes,yearbuilt,county,lot_size
parcelid,,,,,,,
12794645,1467.0,3.0,2.0,1206.35,1958.0,3101.0,9743.0
11150935,2086.0,3.0,3.0,7874.20,2005.0,3101.0,19215.0
12819463,1472.0,4.0,3.0,3693.69,1954.0,3101.0,5517.0
11621154,1800.0,2.0,2.0,8455.09,1974.0,3101.0,25059.0
12772236,968.0,3.0,1.0,4954.28,1954.0,3101.0,5118.0

In [16]:
X_train.shape

(31951, 7)

In [17]:
y_train.shape

(31951,)

In [18]:
train_scaled, validate_scaled, test_scaled = scale_data(X_train, X_validate, X_test)

In [19]:
train_scaled.head()

   square_feet  bedrooms  bathrooms     taxes  yearbuilt  county  lot_size
0     0.056572       0.3   0.153846  0.003970   0.579710     1.0  0.001335
1     0.085112       0.3   0.230769  0.026888   0.920290     1.0  0.002694
2     0.056803       0.4   0.230769  0.012519   0.550725     1.0  0.000729
3     0.071926       0.2   0.153846  0.028884   0.695652     1.0  0.003533
4     0.033565       0.3   0.076923  0.016852   0.550725     1.0  0.000672