In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env

from sklearn.model_selection import train_test_split

# Test Wrangle

In [2]:
import wrangle

from wrangle import wrangle_zillow

from wrangle import split

In [3]:
df = wrangle_zillow()

In [4]:
df.head()

,Unnamed: 0,square_feet,bedrooms,bathrooms,taxes,tax_value,yearbuilt,county,lot_size
parcelid,,,,,,,,,
11289917,0,1458.0,3.0,2.0,2319.90,136104.0,1970.0,3101.0,8284.0
11705026,1,1421.0,2.0,1.0,543.69,35606.0,1911.0,3101.0,6707.0
11389003,2,1650.0,3.0,2.0,7673.19,614000.0,1949.0,3101.0,7300.0
11967869,3,693.0,2.0,1.0,3267.47,274237.0,1921.0,3101.0,2908.0
12035176,4,812.0,1.0,1.0,2926.19,245906.0,1966.0,3101.0,93226.0

In [5]:
df.shape

(12968, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12968 entries, 11289917 to 12942897
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   12968 non-null  int64
 1   square_feet  12968 non-null  float64
 2   bedrooms     12968 non-null  float64
 3   bathrooms    12968 non-null  float64
 4   taxes        12968 non-null  float64
 5   tax_value    12968 non-null  float64
 6   yearbuilt    12968 non-null  float64
 7   county       12968 non-null  float64
 8   lot_size     12968 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1013.1 KB

In [7]:
train, validate, test = split(df)

In [8]:
train.shape

(7261, 9)

In [9]:
validate.shape

(3113, 9)

In [10]:
test.shape

(2594, 9)